.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: 0.5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding-left: 3rem;
  padding-bottom: 3rem;
}

.close-button-wrapper {
  position: relative;
  height: 40px;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: 0.3;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 8px;
  top: 8px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input {
  margin-bottom: 8px;
  min-width: 300px;
}

.submit-button {
  margin-top: 16px;
}
